<div class="banner" style="position: relative; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'nice_bar.jpg' %>);">
  <div class="page-head">
    <h1 class="page-title">World's best cocktail list</h1>
    <%= link_to new_cocktail_path do %>
    <p>+ add a cocktail to the list <i class="fas fa-cocktail"></i></p>
    <% end %>
    <div class="search-bar d-flex justify-content-center" data-controller="search">
      <%= form_tag cocktails_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "",
      data: {
      action: "keyup->search#fetchResults",
      search_target: "input"
      }
      %>
      <div class="list-group" data-search-target="results">
        <!-- serach results -->
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- cocktails in cards -->
<div class="cocktail-list">
  <% @cocktails.each_with_index do |cocktail, index| %>
  <%= link_to cocktail_path(cocktail) do %>


  <div class="cocktail-card grow">


    <% if cocktail.photo.attached? %>
    <%= cl_image_tag cocktail.photo.key, alt: "cocktail" %>
    <% else %>
    <%= image_tag cocktail.imageURL, alt: "cocktail" %>
    <% end %>

    <h2><%= index+1 %>. <%= cocktail.name %></h2>
    <div class="stars">
      <% reviews = Review.where(cocktail_id: cocktail.id) %>
      <% reviews.any? ? ratings = reviews.map { |review| review.rating } : ratings = [0] %>
      <% unless  ((ratings.inject(0.0, :+)) / (ratings.count - 1)).nan? || ((ratings.inject(0.0, :+)) / (ratings.count - 1)).infinite? %>
      <% avg = ((ratings.inject(0.0, :+)) / (ratings.count - 1))%>
      <% else %>
      <% avg = 0 %>
      <% end %>
      <% unless avg.floor.zero? %>
        <% avg.floor.times do %>
        <i class="fas fa-star"></i>
        <% end %>
        <% unless (avg.to_f - avg.floor.to_f).zero? %>
        <i class="fas fa-star-half"></i>
        <% end %>
        <% end %>
    </div>
    <p class="rating-avg"><%= avg.round(1) %></p>
  </div>
  <% end %>
  <% end %>

  <%= link_to new_cocktail_path do %>
    <div class="cocktail-card grow">
      <i class="far fa-plus-square plus"></i>
      <h2>Add a new cocktail</h2>
    </div>
  <% end %>
</div>

<!-- footer that doesnt do a thig -->
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This page is powered by booze <i class="fas fa-cocktail"></i>
  </div>
</div>

<!-- <#%= javascript_pack_tag 'index_search' %> -->
