<div class="form-card">
  <%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :imageURL, label: 'link for image', hint: "choose a pretty one ðŸ¸" %>
  <%= f.input :instruction, hint: "cheers âœŒï¸" %>
  <%= f.input :photo, as: :file, label: 'Cocktail photo' %>
  <div class="submit-button-wrap">
    <%= f.submit class: 'btn btn-light' %>
  </div>
  <% end %>
</div>
