<%= link_to cocktails_path do %>
<i class="back fas fa-long-arrow-alt-left" style="position: absolute; top: 10px; left: 10px; font-size: 50px;"></i>
<% end %>

<div class="form-card">
  <%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :imageURL, label: 'Link for am image', hint: "choose a pretty one ðŸ¸ FYI, uploaded image will be prioritized than the linked one ..." %>
  <%= f.input :instruction, label: 'How do you make this cocktail?', hint: "please be precise ðŸ“" %>
  <%= f.input :photo, as: :file, label: 'Cocktail photo' %>
  <div class="submit-button-wrap">
    <%= f.submit class: 'btn btn-light' %>
  </div>
  <% end %>
</div>
