<% def imagePath %>
  <% if @cocktail.imageURL %>
<%  @cocktail.imageURL %>
  <% else %>
<% cl_image_path @cocktail.photo.key %>
  <% end %>
<% end %>

<div class="banner" style="position: relative; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= imagePath %>);">
  <%= link_to cocktails_path do %>
    <i class="back fas fa-long-arrow-alt-left" style="position: absolute; top: 10px; left: 10px; font-size: 50px;"></i>
  <% end %>
  <div class="container">
    <h1><%= @cocktail.name %></h1>
    <!-- <#%= link_to class="btn btn-flat" %>  -->
  </div>
</div>

<div class="container">
  <h1 class="mt-5">How to make it</h1>
  <p class="my-5"><%= @cocktail.instruction %></p>
  <% @doses.each do |dose| %>
  <div class="row my-5 border-bottom d-flex flex-column">
    <div class="mb-5 d-flex justify-content-between dose">
      <h4><%= dose.description %> of <%= Ingredient.find(dose.ingredient_id).name %></h4>
      <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete do  %>
      <i class="fas fa-eraser"></i>
      <% end %>
    </div>
  </div>
  <% end %>
  <%= link_to new_cocktail_dose_path(@cocktail) do %>
   <p><i class="fas fa-pencil-alt"></i> edit the recipe</p>
  <% end %>

  <h1 class="mt-5">Reviews</h1>
  <% @reviews.each do |review| %>
    <div class="row my-5 border-bottom d-flex justify-content-between">
      <p><%= review.content %> - <%= review.name %></p>
      <div class="stars d-inline">
      <% review.rating.times do %>
        <i class="fas fa-star"></i>
      <% end %>
      </div>
    </div>
  <% end %>
  <%= link_to new_cocktail_review_path(@cocktail) do %>
  <p><i class="fas fa-pencil-alt"></i> write a review</p>
  <% end %>

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This page is powered by booze <i class="fas fa-cocktail"></i>
    </div>
  </div>

</div>
